<div class="form-group">
    <label for="title" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
        <input type="text" ng-model="movie.name" class="form-control" id="name" placeholder="Movie Name"/>
    </div>
</div>
<div class="form-group">
    <label for="year" class="col-sm-2 control-label">IMDB Score</label>
    <div class="col-sm-10">
        <input type="text" ng-model="movie.imdb_score" class="form-control" id="imdb_score" placeholder="IMDB Score"/>
    </div>
</div>
<div class="form-group">
    <label for="director" class="col-sm-2 control-label">Director</label>
    <div class="col-sm-10">
        <input type="text" ng-model="movie.director" class="form-control" id="director" placeholder="Who directed the movie?"/>
    </div>
</div>

<div class="form-group">
    <label for="plot" class="col-sm-2 control-label">Movie Genre</label>
    <div class="col-sm-10">
        <input type="text" ng-model="movie.genre" class="form-control" id="genre" placeholder="Movie genre here"/>
    </div>
</div>

<div class="form-group">
    <label for="popularity" class="col-sm-2 control-label">Movie Popularity</label>
    <div class="col-sm-10">
        <input type="text" ng-model="movie.popularity" class="form-control" id="popularity" placeholder="Movie popularity"/>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>
